//- The home page.
    Author: Alon Haviv, Stellar Intelligence.

extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')

  div#subtitle
    h3 Play any song or music with your instruments thanks to Beethoven
  
  div#converter
    p Convert an audio file into note-sheet:

    // File drop area
    div#drop-area
      form#upload-form(method="POST" enctype="multipart/form-data")
        label(for="File") File:
        //input#file-input(type="file" name="audio_input" multiple accept="audio")
        input#file-input(type="file" name="audio_input" multiple accept=".txt")
        // Button to upload the files to the server:
        button#upload-button(disabled=true type="submit") Convert
      
      p
        strong= "Uploading Status:"
        span#upload-status-message= ''

    // Preview window
    div#preview-image
      img#notes-img(src="#" alt="Preview Notes" style="display:none")

    // Clear and Download buttons:
    div#buttons-container
      button#clear-button(disabled=true type="button") Clear
      button#download-button(disabled=true type="button" data-file_id="" ) Download PDF

      p
        span#download-status-message= ''

    // Setup received parameters:
    script.
        // How many files can be apploaded at once:
        const uploadLimit = #{uploadLimit};
        // The allowed file types:
        const allowedTypes = !{JSON.stringify(allowedTypes)};
        // The maximum allowed total files' size in KB:
        const sizeLimitKB = #{sizeLimitKB};
        // Req/res status codes:
        const statusCodes = !{JSON.stringify(statusCodes)};
    // The main JS pf the page:
    script(src="javascripts/index.js")

  // Remove it:
  h1= title
  p Welcome to #{title}